@import "base.css";
:root{
    --theme-transition: all 0.5s ease-in-out;
    --font-primary: "Open Sans", sans-serif;
    --font-heading: "Raleway", sans-serif;
}
html::-webkit-scrollbar
{
    width: 12px;
}
html::-webkit-scrollbar-thumb
{
    background-color: var(--color-primary);
}
html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

body {
    font-family: var(--font-primary);
    color: var(--color-text);
    background: var(--color-background) !important;
    width: 100%;
    transition: var(--theme-transition);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

p{
    font-family: Lato, serif;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
}

@media (min-width: 991px) {
    #main {
        margin-left: 100px;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--color-heading);
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--color-primary-soft);
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}